<tr>
  <td>1</td>
  <td>name_test</td>
  <td>test@email.com</td>
  <td>pass_test</td>
  <td>time_test</td>
  <td>udid_test</td>
  <td>
    <a href="update-user" class="btn boarder-shadow update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <a class="btn boarder-shadow delete">
      <span class="text-gradient"><i class="fas fa-user-times"></i></span>
    </a>
  </td>
</tr>
